data/TEST_SET_GSE62944_subsample_log2TPM.csv
data/TRAINING_SET_GSE62944_subsample_log2TPM.csv
data/VALIDATION_SET_GSE62944_subsample_log2TPM.csv
C:\Users\kidus\OneDrive\Desktop\Computational BME\Module 04\Module-4-Cancer\data\TEST_SET_GSE62944_metadata.csv
C:\Users\kidus\OneDrive\Desktop\Computational BME\Module 04\Module-4-Cancer\data\TRAINING_SET_GSE62944_metadata.csv
